body{
    font-family: "Courier New", monospace;
    font-size: 14px;
    background: #ffca67;
    width: 375px;
    height: 812px;
    margin: 0 auto;
}

#navigation>div{
    background:rgb(252, 172, 0);
}

#navigation img{
    width: 300px;
}

#gyouji_syasin p img{
    width: 300px;
}